/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

body {
    background: #ffffff;
    color: #000;
    line-height: 1.6;
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
    border-bottom: 2px solid #000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    width: 80x;
    height: 80px;
    object-fit: contain;
    border: 2px solid #000;
    padding: 5px;
}

.logo h1 {
    font-size: 22px;
    letter-spacing: 1px;
}

nav a {
    text-decoration: none;
    color: #000;
    margin-left: 30px;
    font-size: 16px;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
    transition: 0.2s;
}

nav a:hover {
    border-bottom: 2px solid #000;
}

/* PAGE SECTIONS */
section {
    padding: 80px 60px;
    max-width: 1000px;
    margin: auto;
}

h2 {
    font-size: 42px;
    margin-bottom: 30px;
}

p {
    font-size: 18px;
    max-width: 700px;
}

/* CONTACT FORM */
form {
    max-width: 600px;
    margin-top: 40px;
}

input, textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #000;
    background: #fff;
    font-size: 16px;
}

button {
    background: #000;
    color: #fff;
    padding: 15px 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #333;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 40px;
    border-top: 2px solid #000;
    margin-top: 80px;
}


/* MOBILE RESPONSIVE */
@media (max-width: 768px) {

    header {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        text-align: center;
    }

    nav {
        display: flex;
        gap: 25px;
    }

    section {
        padding: 60px 25px;
    }

    h2 {
        font-size: 32px;
    }

    p {
        font-size: 16px;
    }

    .logo {
        flex-direction: column;
    }

    .logo img {
        width: 60px;
        height: 60px;
    }

    form {
        width: 100%;
    }

    input, textarea {
        font-size: 16px;
    }

    button {
        width: 100%;
    }
}

